@charset "utf-8";
body {
  background-color: #ffffff;
}

p {
  padding: 0;
  margin: 0;
}

#chat_page {
  /*position: absolute;
  top: 0;
  left: 0;*/
  /*width: 1204px;*/
  width: 100%;
  height: 1481px;
}

#header {
  /*position: absolute;
  top: 0;
  left: 0;*/
  /*width: 1203px;*/
  width: 100%;
  height: 116px;
  background-color: #d9d8d8;
}

#header_logo {
  /*position: absolute;
  top: 17px;
  left: 15px;
  width: 249px;
  height: 83px;*/
  height: 116px;
  /*width: 25%;
  display: inline-block;*/
  width: 22.5%;
  display: table-cell;
}

#header_right_area {
  /*height: 116px;
  width: 74%;
  display: inline-block;*/
  /* height: 116px; */
  width: 76.5%;
  display: table-cell;
}

#header_logo_text {
  /*position: absolute;
  top: 24px;
  left: 89px;
  width: 73px;
  height: 33px;
  font-size: 36px;*/
  font-size: 14px;
  font-weight: bold;
  color: #3F3F40;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#header_link_area {
  /*position: absolute;
  top: 68px;
  left: 284px;
  width: 519px;
  height: 30px;*/
  /* position: absolute; */
  /* top: 68px; */
  /* left: 284px; */
  width: 70%;
  height: 30px;
  display: table-cell;
  position: relative;
  top: 70px;
}

#header_link_fee {
  /*position: absolute;
  top: 0;
  left: 0;*/
  width: 79px;
  height: 30px;
  display: inline-block;
}

#header_text_fee {
  /*position: absolute;
  top: 8px;
  left: 25px;*/
  width: 30px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#header_link_chat_list {
  /*position: absolute;
  top: 0;
  left: 78px;*/
  width: 136px;
  height: 30px;
  display: inline-block;
}

#header_text_chat_list {
  /*position: absolute;
  top: 7px;
  left: 22px;*/
  width: 92px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#header_link_about {
  /*position: absolute;
  top: 0;
  left: 213px;*/
  width: 179px;
  height: 30px;
  display: inline-block;
}

#header_text_about {
  /*position: absolute;
  top: 7px;
  left: 21px;*/
  width: 138px;
  height: 13px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#header_link_inquiry {
  /*position: absolute;
  top: 0;
  left: 391px;*/
  width: 128px;
  height: 30px;
  display: inline-block;
}

#header_text_inquiry {
  /*position: absolute;
  top: 8px;
  left: 18px;*/
  width: 92px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#header_radio_area {
  /*position: absolute;
  top: 72px;
  left: 943px;
  width: 238px;
  height: 22px;/*
  position: absolute; */
  /* top: 72px; */
  /* left: 943px; */
  width: 238px;
  height: 22px;
  display: table-cell;
  position: relative;
  top: 70px;
  left: 55%;
}

#login_radio_button {
  /*position: absolute;
  top: 0;
  left: 0;*/
  width: 103px;
  height: 22px;
  display: inline-block;
}

#login_text {
  /*position: absolute;
  top: 4px;
  left: 44px;*/
  width: 59px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#logout_radio_button {
  /*position: absolute;
  top: 0;
  left: 120px;*/
  width: 118px;
  height: 22px;
  display: inline-block;
}

#logout_text {
  /*position: absolute;
  top: 4px;
  left: 44px;*/
  width: 74px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#main {
  position: absolute;
  top: 114px;
  left: 0;
  width: 1203px;
  height: 1252px;
}

#left_side_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
  height: 1252px;
}

#profile {
  position: absolute;
  top: 22px;
  left: 25px;
  width: 221px;
  height: 457px;
}

#profile_upper {
  position: absolute;
  top: 0;
  left: 50px;
  width: 117px;
  height: 185px;
}

#profile_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #050001;
}

#profile_name {
  position: absolute;
  top: 171px;
  left: 21px;
  width: 77px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#profile_downer {
  position: absolute;
  top: 201px;
  left: 0;
  width: 221px;
  height: 256px;
}

#sex {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 190px;
  height: 20px;
}

#sex_text {
  position: absolute;
  top: 0;
  left: 4px;
  width: 26px;
  height: 13px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#from {
  position: absolute;
  top: 39px;
  left: 16px;
  width: 190px;
  height: 20px;
}

#from_text {
  position: absolute;
  top: 0;
  left: 5px;
  width: 39px;
  height: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#age {
  position: absolute;
  top: 67px;
  left: 16px;
  width: 190px;
  height: 19px;
}

#age_text {
  position: absolute;
  top: 0;
  left: 5px;
  width: 25px;
  height: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#hobby {
  position: absolute;
  top: 94px;
  left: 16px;
  width: 190px;
  height: 19px;
}

#hobby_text {
  position: absolute;
  top: 0;
  left: 4px;
  width: 26px;
  height: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#favorite {
  position: absolute;
  top: 119px;
  left: 16px;
  width: 190px;
  height: 115px;
}

#favorite_text {
  position: absolute;
  top: 0;
  left: 4px;
  width: 119px;
  height: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#scheduled_chat {
  position: absolute;
  top: 502px;
  left: 30px;
  width: 204px;
  height: 324px;
}

#scheduled_chat_one {
  position: absolute;
  top: 214px;
  left: 0;
  width: 204px;
  height: 46px;
}

#scheduled_chat_one_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#scheduled_chat_two {
  position: absolute;
  top: 153px;
  left: 0;
  width: 204px;
  height: 46px;
}

#scheduled_chat_two_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#scheduled_chat_three {
  position: absolute;
  top: 93px;
  left: 0;
  width: 204px;
  height: 46px;
}

#scheduled_chat_three_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#scheduled_chat_four {
  position: absolute;
  top: 278px;
  left: 0;
  width: 204px;
  height: 46px;
}

#scheduled_chat_four_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#scheduled_chat_five {
  position: absolute;
  top: 33px;
  left: 0;
  width: 204px;
  height: 46px;
}

#scheduled_chat_five_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#scheduled_chat_text {
  position: absolute;
  top: 0;
  left: 24px;
  width: 157px;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #050001;
}

#past_chat {
  position: absolute;
  top: 852px;
  left: 30px;
  width: 204px;
  height: 324px;
}

#past_chat_one {
  position: absolute;
  top: 214px;
  left: 0;
  width: 204px;
  height: 46px;
}

#past_chat_one_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#past_chat_two {
  position: absolute;
  top: 153px;
  left: 0;
  width: 204px;
  height: 46px;
}

#past_chat_two_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#past_chat_three {
  position: absolute;
  top: 93px;
  left: 0;
  width: 204px;
  height: 46px;
}

#past_chat_three_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#past_chat_four {
  position: absolute;
  top: 278px;
  left: 0;
  width: 204px;
  height: 46px;
}

#past_chat_four_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#past_chat_five {
  position: absolute;
  top: 33px;
  left: 0;
  width: 204px;
  height: 46px;
}

#past_chat_five_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #050001;
}

#past_chat_text {
  position: absolute;
  top: 0;
  left: 24px;
  width: 157px;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #050001;
}

#right_main_content {
  position: absolute;
  top: 0;
  left: 267px;
  width: 935px;
  height: 1252px;
}

#chat_list_title_area {
  position: absolute;
  top: 21px;
  left: 18px;
  width: 895px;
  height: 31px;
}

#chat_list_title_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 145px;
  height: 21px;
  font-size: 30px;
  font-weight: bold;
  color: #050001;
}

#chat_list_area {
  position: absolute;
  top: 68px;
  left: 18px;
  width: 885px;
  height: 1165px;
}

#chat_list_row1 {
  position: absolute;
  top: 884px;
  left: 0;
  width: 885px;
  height: 281px;
}

#chat1 {
  position: absolute;
  top: 0;
  left: 675px;
  width: 210px;
  height: 281px;
}

#option1_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option1_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat1_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat2 {
  position: absolute;
  top: 0;
  left: 450px;
  width: 210px;
  height: 281px;
}

#option2_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option2_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat2_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat3 {
  position: absolute;
  top: 0;
  left: 225px;
  width: 210px;
  height: 281px;
}

#option3_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option3_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat3_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 281px;
}

#option4_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option4_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat4_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat_list_row2 {
  position: absolute;
  top: 590px;
  left: 0;
  width: 885px;
  height: 281px;
}

#chat5 {
  position: absolute;
  top: 0;
  left: 675px;
  width: 210px;
  height: 281px;
}

#option5_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option5_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat5_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat6 {
  position: absolute;
  top: 0;
  left: 450px;
  width: 210px;
  height: 281px;
}

#option6_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option6_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat6_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat7 {
  position: absolute;
  top: 0;
  left: 225px;
  width: 210px;
  height: 281px;
}

#option7_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option7_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat7_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 281px;
}

#option8_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option8_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat8_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat_list_row3 {
  position: absolute;
  top: 295px;
  left: 0;
  width: 885px;
  height: 281px;
}

#chat9 {
  position: absolute;
  top: 0;
  left: 675px;
  width: 210px;
  height: 281px;
}

#option9_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option9_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat9_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat10 {
  position: absolute;
  top: 0;
  left: 450px;
  width: 210px;
  height: 281px;
}

#option10_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option10_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat10_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat11 {
  position: absolute;
  top: 0;
  left: 225px;
  width: 210px;
  height: 281px;
}

#option11_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option11_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat11_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 281px;
}

#option12_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option12_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat12_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat_list_row4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 885px;
  height: 281px;
}

#chat13 {
  position: absolute;
  top: 0;
  left: 675px;
  width: 210px;
  height: 281px;
}

#option13_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option13_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat13_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat14 {
  position: absolute;
  top: 0;
  left: 450px;
  width: 210px;
  height: 281px;
}

#option14_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option14_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat14_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat15 {
  position: absolute;
  top: 0;
  left: 225px;
  width: 210px;
  height: 281px;
}

#option15_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option15_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat15_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 281px;
}

#option16_2 {
  position: absolute;
  top: 267px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#option16_1 {
  position: absolute;
  top: 242px;
  left: 7px;
  width: 72px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#chat16_text {
  position: absolute;
  top: 219px;
  left: 7px;
  width: 75px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#footer {
  position: absolute;
  top: 1365px;
  left: 0;
  width: 1203px;
  height: 116px;
}

#footer_logo {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 249px;
  height: 83px;
}

#footer_logo_text {
  position: absolute;
  top: 24px;
  left: 89px;
  width: 73px;
  height: 33px;
  font-size: 36px;
  font-weight: bold;
  color: #3F3F40;
}

#footer_link_area {
  position: absolute;
  top: 16px;
  left: 284px;
  width: 519px;
  height: 30px;
}

#footer_link_fee {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 30px;
}

#footer_text_fee {
  position: absolute;
  top: 8px;
  left: 25px;
  width: 30px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#footer_link_chat_list {
  position: absolute;
  top: 0;
  left: 78px;
  width: 136px;
  height: 30px;
}

#footer_text_chat_list {
  position: absolute;
  top: 7px;
  left: 22px;
  width: 92px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#footer_link_about {
  position: absolute;
  top: 0;
  left: 213px;
  width: 179px;
  height: 30px;
}

#footer_text_about {
  position: absolute;
  top: 7px;
  left: 21px;
  width: 138px;
  height: 13px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}

#footer_link_inquiry {
  position: absolute;
  top: 0;
  left: 391px;
  width: 128px;
  height: 30px;
}

#footer_text_inquiry {
  position: absolute;
  top: 8px;
  left: 18px;
  width: 92px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #050001;
}
